<div th:fragment="file-table(folder)" id="file-table" th:with="canEdit=${note.canEdit(#authentication)}"
     xmlns:sec="http://www.w3.org/1999/xhtml">
    <style>
        @media (max-width: 640px) {
            .desktop-only {
                display: none;
            }
        }
    </style>
    <div class="relative overflow-x-auto shadow-md rounded-lg mb-[3rem]">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="bg-gray-700 text-xs uppercase text-white">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Name
                </th>
                <th scope="col" class="px-6 py-3 desktop-only">
                    Last change
                </th>
                <th scope="col" class="flex justify-end px-5 py-3">
                    <span>Action</span>
                </th>
            </tr>
            </thead>

            <tbody>

            <!-- parent folder -->
            <tr th:with="parent=${folder.parent == null} ? ${'/note/' + folder.parentNote.id + '/description'} : ${'/folder/' +  folder.parent.id}"
                class="border-b bg-gray-900 border-gray-700"
                th:class="${folder.children == null || folder.children.isEmpty} ? 'bg-gray-900' : 'border-b bg-gray-900 border-gray-700' ">

                <th scope="row" class="px-6 py-4 font-normal text-gray-900 dark:text-white">
                    <a th:href="${(prefix != null ? prefix : '') + parent}" class="flex items-center space-x-2">
                        <div class="flex items-center space-x-2">
                            <svg aria-hidden="true" focusable="false" class="text-blue-400" width="16" height="16"
                                 fill="currentColor" viewBox="0 0 16 16">
                                <path d="M1.75 1A1.75 1.75 0 0 0 0 2.75v10.5C0 14.216.784 15 1.75 15h12.5A1.75 1.75 0 0 0 16 13.25v-8.5A1.75 1.75 0 0 0 14.25 3H7.5a.25.25 0 0 1-.2-.1l-.9-1.2C6.07 1.26 5.55 1 5 1H1.75Z"></path>
                            </svg>
                            <span class="text-gray-400 hover:text-blue-600">. .</span>
                        </div>
                    </a>
                </th>
                <td class="px-6 py-4 desktop-only"></td>
                <td class="py-4 text-right inline-flex justify-end w-full">
                    <button th:if="${canEdit}" id="new-file" class="modal-show" data-modal="file-modal"
                            data-href="/file/create" th:attr="data-parent=${folder.id}">
                        <svg class="hover:text-blue-600 mr-3 w-5 h-5 text-white" aria-hidden="true"
                             xmlns="http://www.w3.org/2000/svg" width="20"
                             height="20" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M18 9V4a1 1 0 0 0-1-1H8.914a1 1 0 0 0-.707.293L4.293 7.207A1 1 0 0 0 4 7.914V20a1 1 0 0 0 1 1h4M9 3v4a1 1 0 0 1-1 1H4m11 6v4m-2-2h4m3 0a5 5 0 1 1-10 0 5 5 0 0 1 10 0Z"/>
                        </svg>
                    </button>

                    <button th:if="${canEdit}" class="modal-show" id="new-directory" data-modal="directory-modal"
                            th:attr="data-parent=${folder.id}"
                            data-href="/folder/create">
                        <svg class="hover:text-blue-600 mr-3 w-5 h-5 text-white" aria-hidden="true"
                             xmlns="http://www.w3.org/2000/svg" width="24"
                             height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M14 8H4m8 3.5v5M9.5 14h5M4 6v13a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1h-5.032a1 1 0 0 1-.768-.36l-1.9-2.28a1 1 0 0 0-.768-.36H5a1 1 0 0 0-1 1Z"/>
                        </svg>
                    </button>
                </td>
            </tr>

            <!-- folders and files -->
            <tr th:each="entry, iter : ${children}"
                th:class="${iter.last} ?
                'even:bg-gray-800 odd:bg-gray-900' :
                'border-b even:bg-gray-800 odd:bg-gray-900 border-gray-700' ">

                <!-- file or directory -->
                <th scope="row" class="px-6 py-4 font-normal text-white">
                    <a th:href="${entry.isDirectory} ? ${(prefix != null ? prefix : '') + '/folder/' + entry.id} : ${(prefix != null ? prefix : '') + '/entry/' + entry.id}"
                       class="flex items-center space-x-2">
                        <svg th:if="${entry.isDirectory}" aria-hidden="true" focusable="false" class="text-blue-400"
                             width="16" height="16"
                             fill="currentColor" viewBox="0 0 16 16">
                            <path d="M1.75 1A1.75 1.75 0 0 0 0 2.75v10.5C0 14.216.784 15 1.75 15h12.5A1.75 1.75 0 0 0 16 13.25v-8.5A1.75 1.75 0 0 0 14.25 3H7.5a.25.25 0 0 1-.2-.1l-.9-1.2C6.07 1.26 5.55 1 5 1H1.75Z"></path>
                        </svg>
                        <svg th:unless="${entry.isDirectory}" aria-hidden="true" focusable="false"
                             class="octicon octicon-file color-fg-muted"
                             viewBox="0 0 16 16" width="16" height="16" fill="currentColor" display="inline-block"
                             overflow="visible" style="vertical-align: text-bottom;">
                            <path d="M2 1.75C2 .784 2.784 0 3.75 0h6.586c.464 0 .909.184 1.237.513l2.914 2.914c.329.328.513.773.513 1.237v9.586A1.75 1.75 0 0 1 13.25 16h-9.5A1.75 1.75 0 0 1 2 14.25Zm1.75-.25a.25.25 0 0 0-.25.25v12.5c0 .138.112.25.25.25h9.5a.25.25 0 0 0 .25-.25V6h-2.75A1.75 1.75 0 0 1 9 4.25V1.5Zm6.75.062V4.25c0 .138.112.25.25.25h2.688l-.011-.013-2.914-2.914-.013-.011Z"></path>
                        </svg>
                        <span class="text-white font-medium hover:text-blue-600 text-md" th:text="${entry.name}"></span>
                    </a>
                </th>

                <!-- last modification time -->
                <td th:text="${#dates.format(entry.lastModified, 'dd-MM-yyyy HH:mm')}"
                    class="px-6 py-4 text text-gray-400 desktop-only"></td>

                <!-- lock, download, delete buttons -->
                <td class="py-4 text-right">
                    <div class="flex justify-end gap-2 mr-3">
                        <button sec:authorize="isAuthenticated()" th:if="${note.author.id == #authentication.principal.id}"
                                class="modal-show p-0 m-0"
                                data-modal="make-private-modal"
                                th:attr="data-message=${!entry.lock ?
                                ('Are you sure you want to make ' + entry.name + ' private. After that only you can see it.') :
                                ('Are you sure you want to make ' + entry.name + ' public. After that everyone can see it.')},
                                data-lock=${!entry.lock}, data-entryid=${entry.id}">
                            <svg th:if="${entry.lock}" class="w-5 h-5 text-white hover:text-blue-600"
                                 aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                 fill="currentColor" viewBox="0 0 24 24">
                                <path fill-rule="evenodd"
                                      d="M8 10V7a4 4 0 1 1 8 0v3h1a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h1Zm2-3a2 2 0 1 1 4 0v3h-4V7Zm2 6a1 1 0 0 1 1 1v3a1 1 0 1 1-2 0v-3a1 1 0 0 1 1-1Z"
                                      clip-rule="evenodd"/>
                            </svg>
                            <svg th:if="${!entry.lock}" class="w-5 h-5 text-white hover:text-blue-600"
                                 aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                 fill="currentColor" viewBox="0 0 24 24">
                                <path fill-rule="evenodd"
                                      d="M15 7a2 2 0 1 1 4 0v4a1 1 0 1 0 2 0V7a4 4 0 0 0-8 0v3H5a2 2 0 0 0-2 2v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-7a2 2 0 0 0-2-2V7Zm-5 6a1 1 0 0 1 1 1v3a1 1 0 1 1-2 0v-3a1 1 0 0 1 1-1Z"
                                      clip-rule="evenodd"/>
                            </svg>
                        </button>

                        <a th:href="${(prefix != null ? prefix : '') + '/download/entry/' + entry.id}">
                            <svg class="w-5 h-5 text-white hover:text-blue-600" aria-hidden="true"
                                 xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                 viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-width="2"
                                      d="M4 15v2a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3v-2m-8 1V4m0 12-4-4m4 4 4-4"/>
                            </svg>
                        </a>

                        <button th:if="${canEdit}" th:id="${entry.id}"
                                th:name="${entry.name}" class="modal-show" data-modal="delete-modal"
                                th:attr="data-message=${'Are you sure you want to delete ' + entry.name + '?'},
                                data-entryId=${entry.id}"
                                data-href="/delete/entry">
                            <svg class="w-5 h-5 text-white hover:text-blue-600" aria-hidden="true"
                                 xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                 viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-width="2"
                                      d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"/>
                            </svg>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>