<div th:fragment="note-table" id="note-table" class="w-[85%] mx-auto">
    <div class="relative overflow-x-auto shadow-md rounded-lg mb-[3rem]">
        <style>
            @media (max-width: 640px) {
                .desktop-only {
                    display: none;
                }
            }
        </style>
        <table th:if="${!notes.isEmpty()}" class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="bg-gray-700 text-xs uppercase text-white">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Note
                </th>
                <th scope="col" class="px-6 py-3 maybe-hide desktop-only">
                    Created at
                </th>
                <th scope="col" class="flex justify-end px-6 py-3">
                    Action
                </th>
            </tr>
            </thead>

            <tbody>

            <tr th:each="note, iter : ${notes}"
                th:class="${iter.last} ?
                'even:bg-gray-800 odd:bg-gray-900' :
                'border-b even:bg-gray-800 odd:bg-gray-900 border-gray-700' ">

                <th scope="row" class="px-6 py-4 font-normal text-white">
                    <a th:href="${'/note/' + note.id + '/description'}"
                       class="flex items-center space-x-2">
                        <svg class="w-6 h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                            <path fill-rule="evenodd" d="M6 2a2 2 0 0 0-2 2v15a3 3 0 0 0 3 3h12a1 1 0 1 0 0-2h-2v-2h2a1 1 0 0 0 1-1V4a2 2 0 0 0-2-2h-8v16h5v2H7a1 1 0 1 1 0-2h1V2H6Z" clip-rule="evenodd"/>
                        </svg>
                        <span class="text-white font-medium hover:text-blue-600 text-md" th:text="${note.title}"></span>
                    </a>
                </th>

                <td th:text="${#dates.format(note.createdAt, 'yyyy-dd-MM HH:mm')}" class="px-6 py-4 text text-gray-400 desktop-only"></td>

                <td class="py-4 flex justify-end px-6">
                    <div class="flex justify-end gap-2">
                        <a th:href="${'/note/' + note.id + '/links'}">
                            <svg class="w-6 h-6 text-white hover:text-blue-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.213 9.787a3.391 3.391 0 0 0-4.795 0l-3.425 3.426a3.39 3.39 0 0 0 4.795 4.794l.321-.304m-.321-4.49a3.39 3.39 0 0 0 4.795 0l3.424-3.426a3.39 3.39 0 0 0-4.794-4.795l-1.028.961"/>
                            </svg>
                        </a>

                        <a th:if="${note.author.id == #authentication.principal.id || #authorization.expression('hasRole(''ADMIN'')')}" th:href="${'/note/' + note.id + '/editors'}">
                            <svg class="w-6 h-6 text-white hover:text-blue-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                <path fill-rule="evenodd" d="M12 6a3.5 3.5 0 1 0 0 7 3.5 3.5 0 0 0 0-7Zm-1.5 8a4 4 0 0 0-4 4 2 2 0 0 0 2 2h7a2 2 0 0 0 2-2 4 4 0 0 0-4-4h-3Zm6.82-3.096a5.51 5.51 0 0 0-2.797-6.293 3.5 3.5 0 1 1 2.796 6.292ZM19.5 18h.5a2 2 0 0 0 2-2 4 4 0 0 0-4-4h-1.1a5.503 5.503 0 0 1-.471.762A5.998 5.998 0 0 1 19.5 18ZM4 7.5a3.5 3.5 0 0 1 5.477-2.889 5.5 5.5 0 0 0-2.796 6.293A3.501 3.501 0 0 1 4 7.5ZM7.1 12H6a4 4 0 0 0-4 4 2 2 0 0 0 2 2h.5a5.998 5.998 0 0 1 3.071-5.238A5.505 5.505 0 0 1 7.1 12Z" clip-rule="evenodd"/>
                            </svg>
                        </a>

                        <button th:if="${note.author.id == #authentication.principal.id || #authorization.expression('hasRole(''ADMIN'')')}" class="modal-show delete-button"
                                th:id="${note.id}"
                                th:name="${note.title}"
                                href="/delete/note" data-modal="delete-modal"
                                th:attr="data-noteid=${note.id}, data-message=${'Are you sure you want to delete ' + note.title + '?'}"
                                data-href="/delete/note">
                            <svg class="w-5 h-5 text-white hover:text-blue-600" aria-hidden="true"
                                 xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                 viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-width="2"
                                      d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"/>
                            </svg>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>