<div th:fragment="search" class="flex justify-center">
    <style>
        .search {
            width: 85%;
            max-width: 25rem;
        }
    </style>
    <div class="inline-flex relative search" data-hs-combo-box="">
        <div class="relative w-full">
            <input class="save-input py-2.5 sm:py-3 px-4 block w-full rounded-lg sm:text-sm disabled:opacity-50 disabled:pointer-events-none bg-gray-700 border-gray-700 text-white placeholder-gray-400 focus:ring-gray-600"
                   type="text" role="combobox" aria-expanded="false" placeholder="Choose subject"
                   data-hs-combo-box-input id="search-input">
            <div class="absolute top-1/2 end-3 -translate-y-1/2" data-hs-combo-box-toggle="">
                <svg class="shrink-0 size-3.5 text-gray-500 dark:text-neutral-500" xmlns="http://www.w3.org/2000/svg"
                     width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                     stroke-linecap="round" stroke-linejoin="round">
                    <path d="m7 15 5 5 5-5"></path>
                    <path d="m7 9 5-5 5 5"></path>
                </svg>
            </div>
        </div>
        <div class="absolute z-50 w-full max-h-72 p-1 space-y-0.5 border border-gray-700 rounded-lg overflow-hidden overflow-y-auto bg-gray-700"
             style="display: none;" data-hs-combo-box-output="">

            <div class="cursor-pointer py-2 px-4 w-full text-sm text-white hover:bg-gray-500 rounded-lg focus:outline-hidden bg-gray-500 bg-gray-700 dark:hover:bg-neutral-800 dark:text-neutral-200 dark:focus:bg-neutral-800"
                 tabindex="0" data-hs-combo-box-output-item="">
                <div class="flex justify-between items-center w-full">
                    <span data-hs-combo-box-search-text="All notes" data-hs-combo-box-value="">All notes</span>
                    <span class="hidden hs-combo-box-selected:block">
                      <svg class="shrink-0 size-3.5 text-blue-500 dark:text-blue-500" xmlns="http://www.w3.org/2000/svg"
                           width="24"
                           height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                           stroke-linecap="round"
                           stroke-linejoin="round">
                        <polyline points="20 6 9 17 4 12"></polyline>
                      </svg>
                    </span>
                </div>
            </div>

            <div th:each="note, iter : ${notes}"
                 class="cursor-pointer py-2 px-4 w-full text-sm text-white hover:bg-gray-500 rounded-lg focus:outline-hidden bg-gray-500 bg-gray-700 dark:hover:bg-neutral-800 dark:text-neutral-200 dark:focus:bg-neutral-800"
                 th:tabindex="${iter.index + 1}" data-hs-combo-box-output-item="">
                <div class="flex justify-between items-center w-full">
                    <span th:data-hs-combo-box-search-text="${note.title}" data-hs-combo-box-value=""
                          th:text="${note.title}"></span>
                    <span class="hidden hs-combo-box-selected:block">
                      <svg class="shrink-0 size-3.5 text-blue-500 dark:text-blue-500" xmlns="http://www.w3.org/2000/svg"
                           width="24"
                           height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                           stroke-linecap="round"
                           stroke-linejoin="round">
                        <polyline points="20 6 9 17 4 12"></polyline>
                      </svg>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>